* {
  box-sizing: border-box;
}

body {
  margin: 25% 0 0 0;
  display: flex;
  justify-content: center;
}

.daz-gift-box {
  $box-size: 200px;

  .gift-box-wrapper {
    width: $box-size;
    height: $box-size;
    position: relative;
    transform-origin: bottom;

    .gift-box-top {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 95%;
      left: 0;
      transform: scale(1.1);
    }